@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend Deca:wght@400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: hsla(0, 0%, 100%, 0.75);
	background: hsl(233, 47%, 7%);
	font-family: Inter;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	background: hsl(244, 38%, 16%);
	width: 65rem;
	border-radius: 8px;
	justify-content: space-around;
}

.left {
	padding: 4.5rem 4rem 3.5rem;
	width: 50%;
}

.right {
	background-image: url('images/image-header-desktop.jpg');
	background-color: hsla(277, 64%, 61%, 0.9);
	background-blend-mode: multiply;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 0 8px 8px 0;
	width: 50%;
}

.heading {
	color: hsl(0, 0%, 100%);
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
	letter-spacing: 1px;
}

.violet {
	color: hsl(277, 64%, 61%);
}

.text {
	width: 85%;
}

.main-text {
	color: hsla(0, 0%, 100%, 0.6);
	font-family: Lexend Deca;
	font-size: 0.84rem;
	font-weight: 200;
	line-height: 1.8em;
	margin-bottom: 3.8rem;
}

.stats {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	width: 95%;
}

.stats div {
	font-size: 1.25rem;
	line-height: 1.2em;
}

.stats span {
	color: hsla(0, 0%, 100%, 0.6);
	font-weight: 100;
	font-size: 0.65rem;
	letter-spacing: 1px;
	display: block;
}
